<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<parameter name="user" value="Enter The Email ID here"></parameter>
<parameter name="password" value="Enter The Password Here"></parameter>
  <test thread-count="5" name="Test">
  <classes>
  <class name="OverAll.LarningZone"/>
  </classes>
  
  </test> <!-- Test -->
</suite> <!-- Suite -->
